* {
  margin: 0 auto;
  background-color: black;
}
.unAuthorized{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.connectButton {
  border: 1px solid grey;
}
button {
  padding: 10px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}
.showMediaContainer,.connectButton {
  border: 1px solid grey;
  border-radius: 10px;

}
.connectButton:hover,
.showMediaContainer:hover {
  cursor: pointer;
}

.showMediaContainer {
  padding: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;

  width: 10vw;
  display: flex;
  justify-content: center;
}
.showMediaContainer button {
  outline: none;
  border: none;
  width: max-content;
  color: white;
}
.mediaContainer {
  display: flex;
  flex-wrap: wrap;
}
